/* utilities */
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Source+Sans+Pro:wght@400;700;900&family=Viga&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

html body {
    background-image: url("/img/bc.png");
}

.pra-navbar img {
    width: 50px;
}

.brand {
    font-family: "Inspiration";
    letter-spacing: 3px;
    font-weight: 500;
}

/* navbar */

.navbar ul li button {
    color: rgba(0, 0, 0, 0.6);
}

ul li .dropdown img {
    width: 30px;
}

/* carasouel */
.slide {
    max-height: 93vh;
    overflow: hidden;
}

.slide img {
    height: 100%;
}

/* sepatah dua kata */

p.text-sepatah {
    font-size: 1.5em;
}

a.btn-sepatah {
    width: 50%;
    font-family: "Viga";
}

/* visi-misi */
.visi-misi ol {
    text-align: justify;
}

.visi-misi h4 {
    text-align: justify;
}
/* about */

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.iframe-about {
    width: 100%;
    height: 400px;
}

.about .container .right {
    text-align: justify;
}

/* news */
.news .row h2 {
    font-weight: bold;
}

.my-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 2rem;
}

.my-card-container .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 13%), 0 3px 6px rgb(0 0 0 / 16%);
}

.my-card-container .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* footer */
.footer {
    background-color: #212529;
    /* background-color: #68b984; */
    padding: 25px 0 25px 0;
    color: #fff;
}

.footer-brand {
    font-family: "Inspiration";
}
.footer .footer-navbar img {
    width: 45px;
}

.footer .footer-content {
    display: flex;
    gap: 8rem;
}

.footer .footer-content .social-about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    align-items: baseline;
    width: 30%;
}

.footer .footer-content .socail-method {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, auto);
}

.footer .social-media .fa-brands {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
}

.footer .footer-navbar {
    padding-bottom: 30px;
}

/* blog.index */
/* blog */
.blog {
    width: 60%;
}

.blog img {
    width: 100%;
}

.blog .content p {
    text-align: justify;
}

/* akademik.kegiatan-pembelajaran */
/* kegiatan-pembelajaran */

.kp-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* akademik.visi-misi */
/* akademik */
.akademik {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 0 10px 0 10px;
}

.akademik .sidebar-visi-misi {
    margin-top: 40px;
    border-radius: 10px;
}

.sidebar-visi-misi ul {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    border: solid 1px #eee;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 8px 0px;
}

.sidebar-visi-misi ul li {
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar-visi-misi ul li.active {
    background-color: #1abc9c;
}

.sidebar-visi-misi ul a:has(.active) li {
    color: white;
}

.sidebar-visi-misi ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-visi-misi ul li:hover a {
    color: #1abc9c;
}

.sidebar-visi-misi ul a {
    text-decoration: none;
}

.sidebar-visi-misi ul a li {
    color: #1abc9c;
    text-transform: uppercase;
}

/* civitas.pengajar */
/* pengajar */
.pengajar .pengajar-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.pengajar .pengajar-cards .pengajar-card {
    border: solid 1px #eee;
    background-color: #fff;
    border-radius: 10px;
}

.pengajar .pengajar-cards .pengajar-card img {
    margin-top: -50px;
}

.pengajar .pengajar-cards a {
    text-decoration: none;
}

.pengajar .pengajar-cards h5 {
    color: black;
}

/* mading.index */
/* nav-mading */
.nav-mading-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-mading img {
    width: 100%;
}

.mading .cards-mading {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    gap: 20px;
}

.mading .cards-mading .card-mading {
    box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}

.mading .cards-mading .card-mading .card-footer a {
    width: auto;
    margin-right: 10px;
}

.mading .card-body {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mading .card-body img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mading .card-body p,
.mading .card-body h6 {
    margin-bottom: 0;
}
/* mading */

/* media query */

@media (max-width: 1024px) {
    /* footer */
    .footer .footer-content {
        display: block;
    }

    .footer .footer-content .social-about {
        width: 100%;
    }

    /* akademik.visi-misi */
    /* akademik */
    .akademik {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* mading.index */
    /* nav-mading */
    .mading .cards-mading {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* akademik.kegiatan-pembelajaran */
    /* kegiatan-pembelajaran */

    .kp-images {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* civitas.pengajar */
    /* pengajar */
    .pengajar .pengajar-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
    }
}

@media (max-width: 512px) {
    /* sepatah dua kata */
    a.btn-sepatah {
        width: 100%;
    }

    /* about */
    .about .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .iframe-about {
        height: 215px;
    }

    /* blog.index */
    /* blog */
    .blog {
        width: 100%;
    }

    /* mading.index */
    /* nav-mading */
    .nav-mading-main {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
    }

    /* akademik.kegiatan-pembelajaran */
    /* kegiatan-pembelajaran */

    .kp-images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    /* civitas.pengajar */
    /* pengajar */
    .pengajar .pengajar-cards {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}
